@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1ecf1; /* Instagram-like light background */
  --foreground: #262626; /* Dark text color */
  --accent-primary: #d099d4; /* Instagram's brand color */
  --accent-secondary: #493548; /* Gradient color */
}

/* --primary-color: #af82b2;
--secondary-color: #f0dee9;
--tertiary-color: #493548;
--quaternary-color: #4a6c6f;
--quinary-color: #fac748; */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.6;
}

/* Instagram-inspired gradient */
.gradient-border {
  border: 3px solid transparent;
  border-radius: 12px;
  background-image: linear-gradient(var(--background), var(--background)),
    linear-gradient(45deg, var(--accent-primary), var(--accent-secondary));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

/* Responsive grid for product cards */
@media (max-width: 640px) {
  .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
